{%- set css = "/_includes/previously/style.css" -%}
{% css page, css %}

<section class="{% className css, 'root' %}">
  <h1 class="{% className css, 'heading' %}">previously</h1>

  <p>
    All previous sessions are on YouTube:
    <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcIDjlCx1PcphPpmf43aKOAdF">2018</a>,
    <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcICUD5nBfRdAR6Fveosnqa5m">2017</a>,
    <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcIBTs2KPy1E6tIYaWoFcG3uj">2016</a>,
    <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcICcHeQY02XLvoGL34rZFWZn">2015</a>. You get the picture!
  </p>

  <div class="{% className css, 'pics' %}">
    <div class="{% className css, 'initial-pics' %}">
      <img decoding="async" data-src="confboxAsset(/_includes/previously/assets/cake-drop.jpg)" alt="Jake dropped the cake">
      <img decoding="async" data-src="confboxAsset(/_includes/previously/assets/cake-drop.jpg)" alt="Jake dropped the cake">
      <img decoding="async" data-src="confboxAsset(/_includes/previously/assets/cake-drop.jpg)" alt="Jake dropped the cake">
    </div>
    <div class="{% className css, 'extra-pics' %}">
      <img decoding="async" data-src="confboxAsset(/_includes/previously/assets/cake-drop.jpg)" alt="Jake dropped the cake">
      <div></div>
      <img decoding="async" data-src="confboxAsset(/_includes/previously/assets/cake-drop.jpg)" alt="Jake dropped the cake">
      <img decoding="async" data-src="confboxAsset(/_includes/previously/assets/cake-drop.jpg)" alt="Jake dropped the cake">
      <img decoding="async" data-src="confboxAsset(/_includes/previously/assets/cake-drop.jpg)" alt="Jake dropped the cake">
      <div></div>
      <img decoding="async" data-src="confboxAsset(/_includes/previously/assets/cake-drop.jpg)" alt="Jake dropped the cake">
      <div></div>
      <img decoding="async" data-src="confboxAsset(/_includes/previously/assets/cake-drop.jpg)" alt="Jake dropped the cake">
    </div>
  </div>
  <script async src="confboxAsset(/_includes/previously/script.js)"></script>
</section>
