{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set css = "/_includes/previously/style.css" -%}
{% css page, css %}
{%- set contentCSS = "/_includes/content.css" -%}
{% css page, contentCSS %}

{% set images = [
  {
    url: "1",
    alt: "Women Techmakers at Chrome Dev Summit 2019"
  }, {
    url: "2",
    alt: "The sandbox area"
  }, {
    url: "3",
    alt: "Audience watching the main stage"
  }, {
    url: "4",
    alt: "The MCs"
  }, {
    url: "5",
    alt: "Parisa speaking"
  }, {
    url: "6",
    alt: "Attendees chatting"
  }, {
    url: "7",
    alt: "Attendees chatting"
  }, {
    url: "8",
    alt: "Attendees watching"
  }, {
    url: "9",
    alt: "Dion speaking"
  }
] %}

{% macro imageTag(image) %}
  <img decoding="async" alt="{{ image.alt }}" loading="lazy" src="confboxAsset(/_includes/previously/assets/{{ image.url }}.jpg)">
{% endmacro %}

<section class="{% className moduleCSS, 'root' %} {% className contentCSS, 'content-area' %}">
  {% from 'squiggle-banner/index.njk' import squiggleTop %}
  {{ squiggleTop(page, gray=false) }}

  <h1 class="{% className moduleCSS, 'heading' %}">{% headingSlug "Previously" %}</h1>

  <p>
    No, this year won’t look the same, but it’s still fun to see some moments from past summits. All previous sessions are on YouTube:
    <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcIDA1uGhqy45bqlul0VcvKMr">2019</a>,
    <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcIDjlCx1PcphPpmf43aKOAdF">2018</a>,
    <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcICUD5nBfRdAR6Fveosnqa5m">2017</a>,
    <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcIBTs2KPy1E6tIYaWoFcG3uj">2016</a>,
    <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcICcHeQY02XLvoGL34rZFWZn">2015</a>. You get the picture!
  </p>

  <div class="{% className css, 'pics' %}">
    <div class="{% className css, 'initial-pics' %}">
      {{ imageTag(images[0]) }}
      {{ imageTag(images[1]) }}
      {{ imageTag(images[2]) }}
    </div>
    <div class="{% className css, 'extra-pics' %}">
      {{ imageTag(images[3]) }}
      <div></div>
      {{ imageTag(images[4]) }}
      {{ imageTag(images[5]) }}
      {{ imageTag(images[6]) }}
      <div></div>
      {{ imageTag(images[7]) }}
      <div></div>
      {{ imageTag(images[8]) }}
    </div>
  </div>
</section>
