<section class="cta {{className}}">
  <div class="cta__lines"></div>
  <div class="cta__content">
    <p>
<strong>Chrome Dev Summit is back!</strong>
Join us for our annual developer conference at the Yerba Buena Center for the Arts in San Francisco, CA on {{dateString}}.
    </p>
    <p>
Over two days, you'll learn about the latest tools and updates coming to the web platform and hear directly from the Chrome product engineering teams.
    </p>
    <p>
Sign up for updates on the <a href="{{links.interestForm}}">interest form</a>.
    </p>
  </div>
</section>