{%- set officeCSS = "/_includes/office-hours/style.css" -%}
{% css page, officeCSS %}
{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set mediaCSS = "/_includes/layouts/media-module/style.css" -%}
{% css page, mediaCSS %}
{%- set contentCSS = "/_includes/content.css" -%}
{% css page, contentCSS %}

<section class="{% className moduleCSS, 'root' %} {% className mediaCSS, 'root-alt' %}">
  <div class="{% className mediaCSS, 'main' %} {% className contentCSS, 'content-area' %}">
    <h1 id="livestream" class="{% className moduleCSS, 'heading' %}">{% headingSlug "Hours" %}</h1>
    <p>
      So what if we can’t meet in person? We’ll be there to run private, virtual Office Hours across topics
      such as <strong>Performance, Web Vitals, PWA, CSS, UX & Design</strong>. You name it.
    </p>
    <p>
      Make sure to
      <a href="{{conf.registerLink}}" rel="noopener noreferrer" target="_blank">Request an Invite</a>
      so you don’t miss out!
    </p>
  </div>
  <div class="{% className mediaCSS, 'media-decorative' %} {% className officeCSS, 'decoration' %}"></div>
</section>
