{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set mediaCSS = "/_includes/layouts/media-module/style.css" -%}
{% css page, mediaCSS %}
{%- set keynoteCSS = "/_includes/keynote/style.css" -%}
{% css page, keynoteCSS %}

<section class="{% className moduleCSS, 'root' %} {% className mediaCSS, 'root' %} {% className keynoteCSS, 'root' %}">
  <div class="{% className mediaCSS, 'media' %} {% className keynoteCSS, 'media' %}">
    {%- set utilsCSS = "/_includes/utils.css" -%}
    {% css page, utilsCSS %}
    <div class="{% className utilsCSS, 'aspect-ratio' %} {% className keynoteCSS, 'livestream' %}" style="--aspect-ratio: calc(16/9)">
      <iframe class="{% className utilsCSS, 'media-fill' %}" src="https://www.youtube.com/embed/F1UP7wRCPH8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="{% className mediaCSS, 'main' %}">
    <h1 id="livestream" class="{% className moduleCSS, 'heading' %}">{% headingSlug "Thanks" %}</h1>
    <p>Thanks for attending Chrome Dev Summit 2019!</p>
    <p>Recordings of all talks are posted on our <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcIDA1uGhqy45bqlul0VcvKMr" rel="noopener noreferrer" target="_blank">YouTube channel</a> in case you missed any of the sessions or want to go back and rewatch your favorites.</p>
  </div>
</section>
