{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set mediaCSS = "/_includes/layouts/media-module/style.css" -%}
{% css page, mediaCSS %}
{%- set keynoteCSS = "/_includes/keynote/style.css" -%}
{% css page, keynoteCSS %}

<section class="{% className moduleCSS, 'root' %} {% className mediaCSS, 'root' %} {% className keynoteCSS, 'root' %}">
  <div class="{% className mediaCSS, 'media' %} {% className keynoteCSS, 'media' %}">
    {%- set utilsCSS = "/_includes/utils.css" -%}
    {% css page, utilsCSS %}
    <div class="{% className utilsCSS, 'aspect-ratio' %} {% className keynoteCSS, 'livestream' %}" style="--aspect-ratio: calc(16/9)">
      <iframe class="{% className utilsCSS, 'media-fill' %}" src="https://www.youtube.com/embed/XZcmtqL4JPI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="{% className mediaCSS, 'main' %}">
    <h1 id="livestream" class="{% className moduleCSS, 'heading' %}">{% headingSlug "Thanks" %}</h1>
    <p>We want Chrome Dev Summit to be exciting for everyone. If you can’t join us in person, watch our <strong>livestream</strong> on our <a href="https://www.youtube.com/user/ChromeDevelopers" rel="noopener noreferrer" target="_blank">YouTube channel</a> to view all the sessions and get access to exclusive livestream-only content.</p>
    <p>You can also experience Chrome Dev Summit in your region by joining our <strong>CDS Extended</strong> events. Extended events are all about our remote audience, enabling developers from across the globe to gather with their peers and experience the Summit within their own community. <a href="{{conf.path}}remote/#extended">Find an Extended event</a> in your city and join the excitement at a watch party or meetup.</p>
  </div>
</section>
