.root {
  background: var(--offwhite);
  padding-top: 0;

  @media (min-width: 720px) {
    background: linear-gradient(180deg, var(--white), var(--offwhite));
  }

  @media (min-width: 1024px) {
    padding-top: var(--vertical-padding);
  }
}

.livestream {
  box-shadow: var(--lg-hueless-shadow);
}

.media {
  align-self: start;
  margin-bottom: 1.8rem;

  @media (min-width: 1024px) {
    margin-bottom: 0;
  }
}
