:root {
  --white: #ffffff;
  --offwhite: #f8f9fa;
  --lessdarkoffwhite: #e8eaed;
  --lesslessdarkoffwhite: #e1e2e6;
  --darkoffwhite: #dadce0;
  --lightlightgrey: #bdc1c6;
  --lightgrey: #9aa0a6;
  --midgrey: #80868b;
  --grey: #707070;
  --darkgrey: #5f6368;
  --offblack: #3c4043;
  --black: #202124;
  --black-a50: rgba(0, 0, 0, 0.25);

  --blue: #1a73e8;
  --blue-a25: rgba(26, 115, 232, 0.25);
  --blue-a50: rgba(26, 115, 232, 0.5);
  --lightblue: #d7e4f4;
  --darkblue: #1458b3;

  --green: #1e8e3e;
  --red: #d93025;
  --red-a25: rgba(217, 48, 37, 0.25);
  --orange: #f9ab00;

  --twitter: #38a1f3;
  --youtube: #ff0000;

  @media (prefers-color-scheme: dark) {
    --blue: hsl(214 40% 55%);
    --lightblue: hsl(213 57% 10%);
    --darkblue: hsl(214 70% 59%);
    --red: hsl(4 50% 40%);

    --white: hsl(200 10% 10%);
    --offwhite: hsl(200 10% 13%);
    --lessdarkoffwhite: hsl(200 10% 16%);
    --lesslessdarkoffwhite: hsl(200 10% 20%);
    --darkoffwhite: hsl(200 10% 25%);
    --lightlightgrey: hsl(200 10% 40%);
    --lightgrey: hsl(200 10% 50%);
    --midgrey: hsl(200 10% 60%);
    --grey: hsl(200 10% 70%);
    --darkgrey: hsl(200 10% 75%);
    --offblack: hsl(200 10% 80%);
    --black: hsl(200 10% 90%);
    --black-a50: hsla(0 0% 0% / 90%);
  }
}
