.root,
.root-alt {
  --vertical-padding: 1.6rem;
  background-color: var(--white);
  padding: var(--vertical-padding) var(--side-margin);

  @media (min-width: 1280px) {
    --vertical-padding: 4.5rem;
  }
}

.root-alt {
  background-color: var(--offwhite);
}

.heading {
  font: bold 2rem 'Google Sans', sans-serif;
  color: var(--grey);
  text-align: center;
  position: relative;

  @media (min-width: 480px) {
    text-transform: lowercase;
    text-align: left;

    &::before {
      content: 'chrome://';
      color: var(--lightgrey);
    }
  }

  /*
    This hacks around the sticky header when scrolling into view.
    This could be replaced by scroll-padding once all browsers have support.
  */
  @media (min-width: 720px) {
    &:target {
      margin-top: calc(-100px + 0.86em);
      padding-top: 100px;
    }
  }
}

.slug-dash {
  &:before {
    content: ' ';
  }
  @media (min-width: 720px) {
    &:before {
      content: '-';
    }
  }
}

.heading-split {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 1.66rem 0;

  & > :first-child {
    flex: 1;
    margin-right: 0.5em;
  }

  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.heading-link {
  display: block;
}
