.module {
  --vertical-padding: 1.6rem;
  background-color: var(--white);
  padding: var(--vertical-padding) var(--side-margin);

  &:nth-of-type(odd) {
    background-color: var(--offwhite);
  }

  @media (min-width: 1280px) {
    --vertical-padding: 4.5rem;
  }

  @media (min-width: 1920px) {
    padding: var(--vertical-padding)
      calc((100vw - 1920px) / 2 + var(--side-margin));
  }
}

.module-heading {
  font: bold 2rem 'Google Sans', sans-serif;
  color: var(--grey);
  text-transform: lowercase;

  @media (min-width: 720px) {
    &::before {
      content: 'chrome://';
      color: var(--lightgrey);
    }
  }
}
