.about-module {
  composes: media-module from '../module.css';
}

.about-media {
  composes: media from '../module.css';
}

.aspect-ratio {
  composes: aspect-ratio from '../utils.css';
}

.media-fill {
  composes: media-fill from '../utils.css';
}
