---
title: FAQs
description: Everything you need to know about Chrome Dev Summit.
---
{% extends 'layouts/content/index.njk' %}

{% from 'squiggle-banner/index.njk' import squiggleBanner %}

{% block content %}
  {{ super() }}
  {% include 'subscribe-promo/index.njk' %}
  {{ squiggleBanner(page, '--green') }}
{% endblock %}

{% block innerContent %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {% for section in collections.faqs %}
        {
          "@type": "Question",
          "name": "{{section.question}}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{section.answer}} <a href=\"{{conf.origin}}{{conf.path}}faqs/#{% idify section.title %}\">Read more.</a>"
          }
        }
        {% if not loop.last %}
        ,
        {% endif %}
        {% endfor %}
      ]
    }
  </script>

  {%- set contentCSS = "/_includes/content.css" -%}
  {% css page, contentCSS %}
  {%- set faqCSS = "/faqs/styles.css" -%}
  {% css page, faqCSS %}
  {% for section in collections.faqs %}
    <section class="{% className contentCSS, 'category' %}">
      <h1 id="{% idify section.title %}" class="{% className contentCSS, 'category-heading' %}">{{ section.title }}</h1>
      <aside class="{% className contentCSS, 'category-meta' %}">
        <blockquote>{{ section.question }}</blockquote>
        <p>{{ section.answer | safe }}<p>
      </aside>
      <div class="{% className contentCSS, 'box' %} {% className contentCSS, 'section' %}">
        {% for faq in section.items %}
          {% if (loop.index !== 1) %}<hr class="{% className contentCSS, 'divider' %}">{% endif %}
          {% if (faq.data.title) and (faq.data.title != section.title) %}<h2 id="{% idify faq.data.title %}" class="{% className contentCSS, 'section-heading' %}">{{ faq.data.title }}</h2>{% endif %}
          <div class="{% className faqCSS, 'markdown' %}">
            {{ faq.templateContent | safe }}
          </div>
        {% endfor %}
      </div>
    </section>
  {% endfor %}
{% endblock %}

