.markdown {
  & p,
  & li {
    font-size: 0.9em;
  }

  & ul > li {
    margin-bottom: 1rem;
  }

  & h3 {
    font-size: 0.8em;
  }
}

:root {
  --squiggle-display: block;
  --squiggle-url: url('confboxAsset(/assets/squiggles/2.svg)');
}
