{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set promoCSS = "/_includes/icon-promo.css" -%}
{% css page, promoCSS %}

<section class="{% className moduleCSS, 'root' %} {% className promoCSS, 'root' %}">
  <div class="{% className promoCSS, 'icon' %}">
    <img src="confboxAsset('/assets/notify-icon-dark-blue.svg')" alt="">
  </div>
  <h1 class="{% className promoCSS, 'title' %}">Need a reminder? We got you.</h1>
  <p class="{% className promoCSS, 'blurb' %}">Subscribe to stay updated about sessions, events, or news at CDS 2019 👍</p>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdqEfT0jfgRNIGqibWxBe8X1Dt0a2FcHdituhRhG1tNGL1sBQ/viewform" target="_blank" rel="noopener noreferrer" class="{% className promoCSS, 'button' %} {% className promoCSS, 'button-blue' %}">
    Get Updates
  </a>
</section>
