{%- pageStart page -%}
{%- set mainCss = "/_includes/layouts/main/style.css" -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="confboxAsset(/assets/chromelogo.png)">
    {% css page, mainCss %}
    {% block extraHead %}{% endblock %}
    {% if title %}
      <title>{{title}} - {{conf.conferenceName}}</title>
    {% else %}
      <title>{{conf.conferenceName}}</title>
    {% endif %}
  </head>
  <body>
    {% include 'header/index.njk' %}
    {% block content %}{{ content | safe }}{% endblock %}
    {% include 'footer/index.njk' %}
  </body>
</html>
