{%- set css = "/_includes/layouts/main/style.css" -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% css page, css %}
    {% block extraHead %}{% endblock %}
    <title>{{title}}</title>
  </head>
  <body>
    {% include 'header/index.njk' %}

    {% block content %}{{ content | safe }}{% endblock %}
    <script src="confboxAsset("/_includes/layouts/main/main.js")" defer></script>
  </body>
</html>
