@import '../../colors.css';
@import '../../shadows.css';
@import '../../defs.css';

/*
 * See: https://fonts.google.com/license/googlerestricted
 */
/* cyrillic */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: normal;
  src: url('confboxAsset(/assets/google-sans/regular/cyrillic.woff2)')
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: normal;
  src: url('confboxAsset(/assets/google-sans/regular/greek.woff2)')
    format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: normal;
  src: url('confboxAsset(/assets/google-sans/regular/vietnamese.woff2)')
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: normal;
  src: url('confboxAsset(/assets/google-sans/regular/latin-ext.woff2)')
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: normal;
  src: url('confboxAsset(/assets/google-sans/regular/latin.woff2)')
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: normal;
  src: url('confboxAsset(/assets/google-sans/bold/cyrillic.woff2)')
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  src: url('confboxAsset(/assets/google-sans/bold/greek.woff2)') format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  src: url('confboxAsset(/assets/google-sans/bold/vietnamese.woff2)')
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  src: url('confboxAsset(/assets/google-sans/bold/latin-ext.woff2)')
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  src: url('confboxAsset(/assets/google-sans/bold/latin.woff2)') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  /* https://github.com/necolas/normalize.css/issues/665 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 2;
  font-weight: 300;
  font-size: 14px;
  background: var(--white);
  color: var(--black);

  @media (min-width: 320px) {
    font-size: 17px;
  }

  @media (min-width: 720px) {
    font-size: 21px;
  }
}

strong {
  font-weight: 500;
}

body {
  margin: 0;
  background: var(--white);
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    font-weight: normal;
  }
}

::selection {
  background: var(--blue-a25);
  text-shadow: none;
}
