{%- set workshopCSS = "/_includes/workshops/style.css" -%}
{% css page, workshopCSS %}
{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set mediaCSS = "/_includes/layouts/media-module/style.css" -%}
{% css page, mediaCSS %}
{%- set contentCSS = "/_includes/content.css" -%}
{% css page, contentCSS %}

<section class="{% className moduleCSS, 'root-alt' %} {% className mediaCSS, 'root' %}">
  <div class="{% className mediaCSS, 'main' %} {% className contentCSS, 'content-area' %}">
    <h1 id="livestream" class="{% className moduleCSS, 'heading' %}">{% headingSlug "Workshops" %}</h1>
    <p>
      Apart from sharing guidance through our main sessions, we are bringing hands on workshops delivered by experts from the community on <strong>7-8 December, 2020</strong>.
    </p>
    <p>
      To make interactions more effective and due to technical constraints, these workshops will be limited-capacity, so
      <a href="{{conf.registerLink}}" rel="noopener noreferrer" target="_blank">request your invite</a> now.
    </p>
    <p>
      <a href="{{conf.path}}schedule/#workshops">View Workshops</a>
    </p>
  </div>
  <div class="{% className mediaCSS, 'media-decorative' %} {% className workshopCSS, 'decoration' %}"></div>
</section>
