.decoration {
  background: url('confboxAsset(/assets/arts/6.png)') no-repeat center center;
  height: 100%;
  background-size: contain;

  @media (prefers-color-scheme: dark) {
    filter: contrast(0.7);
  }
}
