.root {
  visibility: hidden;
  background: var(--lessdarkoffwhite);
  padding: 0.3rem;
  border-radius: 1000px;
  max-width: max-content;
  overflow: hidden;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  margin: 0 auto;

  @media (min-width: 480px) {
    margin-right: 0;
  }
}

.radio {
  opacity: 0;
  position: absolute;
}

.fake-label,
.static-label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.6rem 1.3rem;
  line-height: 1;
  flex: 1;
}

.fake-label {
  cursor: pointer;
}

.radio:checked ~ .fake-label {
  background: var(--white);
  border-radius: 1000px;
  color: var(--darkblue);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.zone {
  white-space: nowrap;
}

.label {
  display: flex;
}
