.root {
  --icon-size: 1.6em;
  --spacer: 7rem;
  padding-bottom: 0;

  @media (min-width: 720px) {
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    grid-template-columns: 1fr auto auto;
    grid-template-areas:
      'logo     logo    links'
      'divider  divider divider'
      'social   social  social'
      'legal legal   legal';
  }

  @media (min-width: 960px) {
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr auto auto;
    grid-template-areas:
      'logo    logo     links'
      'divider divider  divider'
      'social  language legal';
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

.logo {
  background-image: url('confboxAsset(/_includes/footer/assets/g.svg)');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: logo;
  height: 2.6rem;
  margin: var(--spacer) 0;
  @media (min-width: 720px) {
    background-image: url('confboxAsset(/_includes/footer/assets/fullgoogle.svg)');
    margin: 0;
    background-position: top left;
  }
}

.links {
  grid-area: links;

  white-space: nowrap;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-column-gap: 6rem;
  grid-row-gap: 1rem;
  margin-bottom: var(--spacer);
  a {
    color: var(--midgrey);
    text-decoration: none;
  }
  @media (min-width: 720px) {
    margin: 0;
    justify-content: end;
  }
}

.social {
  grid-area: social;

  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  > li {
    margin: 0 0.5rem;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    line-height: var(--icon-size);
    height: var(--icon-size);
  }
  @media (min-width: 960px) {
    justify-content: flex-start;
  }
}

.language {
  /* Disabled for now   */
  display: none;
  grid-area: language;
  margin: 0 auto;
  @media (min-width: 720px) {
    margin: 0 1.6rem;
  }
}

.legal {
  grid-area: legal;

  white-space: nowrap;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--midgrey);
  a {
    color: var(--midgrey);
    text-decoration: none;
  }
  > li {
    margin: 1rem 0;
    --icon-size: 1.4em;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    > a {
      display: flex;
      flex-direction: row;
      align-items: center;
      > span {
        margin-right: 0.3em;
      }
    }
  }

  @media (min-width: 720px) {
    font-size: 0.6rem;
    flex-direction: row;
    > li {
      margin: 0 0.8rem;
    }
  }
}

.divider {
  display: none;
  grid-area: divider;
  margin-top: var(--vertical-padding);
  @media (min-width: 720px) {
    display: block;
    border-top: 1px solid var(--darkoffwhite);
  }
}

.icon,
.icon-mask {
  width: var(--icon-size);
  height: var(--icon-size);
  display: inline-block;
}

.icon {
  background-image: var(--icon);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-mask {
  background: var(--midgrey);
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
