.root {
  --icon-size: 1.6em;
  padding-bottom: 0;
  padding-top: 6rem;

  @media (min-width: 720px) {
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr auto auto;
    grid-template-areas:
      'logo . nav'
      'divider divider divider'
      'social language legal';
  }

  @media (max-width: 840px) {
    --side-margin: 2.4rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a:hover {
    color: var(--darkgrey);
    text-decoration: underline;
    text-decoration-color: var(--blue);
  }
}

.logo {
  background-image: url('confboxAsset(/_includes/footer/assets/g.svg)');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: logo;
  height: 2.6rem;
  margin: 5.9rem 0;
  @media (min-width: 720px) {
    background-image: url('confboxAsset(/_includes/footer/assets/fullgoogle.svg)');
    margin: 0;
    background-position: top left;
  }
}

.social {
  grid-area: social;

  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  > li {
    margin: 0 0.5rem;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    line-height: var(--icon-size);
    height: var(--icon-size);
  }
  @media (min-width: 720px) {
    justify-content: flex-start;
  }
}

.legal {
  grid-area: legal;

  white-space: nowrap;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--midgrey);
  a {
    color: var(--midgrey);
    text-decoration: none;
  }
  > li {
    margin: 1rem 0;
    --icon-size: 1.4em;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    > a {
      display: flex;
      flex-direction: row;
      align-items: center;
      > span {
        margin-right: 0.5em;
      }
    }
  }

  @media (min-width: 720px) {
    font-size: 0.6rem;
    flex-direction: row;
    > li {
      margin: 0 0.8rem;
    }
  }
}

.divider {
  display: none;
  grid-area: divider;
  margin-top: 1.1rem;
  @media (min-width: 720px) {
    display: block;
    border-top: 1px solid var(--darkoffwhite);
  }
}

.icon,
.icon-mask {
  width: var(--icon-size);
  height: var(--icon-size);
  display: inline-block;
  overflow: hidden;
  color: transparent;
}

.icon {
  background-image: var(--icon);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-mask {
  background: var(--midgrey);
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.icon-twitter {
  --icon: url('confboxAsset(/_includes/footer/assets/twitter.svg)');
  &:hover {
    background-color: var(--twitter);
  }
}

.icon-youtube {
  --icon: url('confboxAsset(/_includes/footer/assets/youtube.svg)');
  &:hover {
    background-color: var(--youtube);
  }
}

.icon-email {
  --icon: url('confboxAsset(/_includes/footer/assets/email.svg)');
  &:hover {
    background-color: var(--grey);
  }
}

.footer-nav {
  grid-area: nav;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;

  @media (min-width: 720px) {
    align-items: flex-end;
    padding-bottom: 8rem;
  }

  > a {
    color: var(--lightgrey);
    text-decoration: none;

    @media (min-width: 720px) {
      font-size: 0.7rem;
    }

    &:not(:first-of-type) {
      margin-top: 1rem;
    }

    @media (prefers-color-scheme: dark) {
      color: var(--grey);
    }
  }
}
