{%- set mediaCSS = "/_includes/layouts/media-module/style.css" -%}
{% css page, mediaCSS %}

<div class="{% className mediaCSS, 'root' %}">
  <div class="{% className mediaCSS, 'main' %}">
    {% block main %}{% endblock %}
  </div>
  <div class="{% className mediaCSS, 'media' %}">
    {% block media %}{% endblock %}
  </div>
</div>
