{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set mediaCSS = "/_includes/layouts/media-module/style.css" -%}
{% css page, mediaCSS %}

<section class="{% block moduleClass %}{% className moduleCSS, 'root' %}{% endblock %} {% className mediaCSS, 'root' %}">
  {% block before %}{% endblock %}
  <div class="{% className mediaCSS, 'main' %}">
    {% block main %}{% endblock %}
  </div>
  <div class="{% block mediaClass %}{% className mediaCSS, 'media' %}{% endblock %}">
    {% block media %}{% endblock %}
  </div>
  {% block after %}{% endblock %}
</section>
