.root {
  composes: module from '../../module.css';

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: [main] 1fr [media] 54%;
    place-items: stretch;
    grid-column-gap: 4rem;
  }
}

.main {
  grid-column: main;
}

.media {
  display: none;

  @media (min-width: 300px) {
    display: block;
    margin: 0 calc(var(--side-margin) * -1);
  }

  @media (min-width: 1280px) {
    margin: 0;
    grid-column: media;
    align-self: start;
  }
}

.heading {
  composes: module-heading from '../../module.css';
}

.media-fill {
  composes: media-fill from '../../utils.css';
}

.aspect-ratio {
  composes: aspect-ratio from '../../utils.css';
}
