.root {
  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: [main] 1fr [media] 54%;
    grid-column-gap: 4rem;
    align-items: center;
  }
}

.main {
  grid-column: main;
}

.media {
  display: none;

  @media (min-width: 300px) {
    display: block;
    margin: 0 calc(var(--side-margin) * -1);
  }

  @media (min-width: 1280px) {
    margin: 0;
    grid-column: media;
  }
}
