---
title: Schedule
description: Everything that's happening at Chrome Dev Summit.
---

{% extends 'layouts/main/index.njk' %}

{% block content %}
  {%- set moduleCSS = "/_includes/module.css" -%}
  {% css page, moduleCSS %}
  {%- set pageCSS = "/_includes/page.css" -%}
  {% css page, pageCSS %}
  {%- set css = "/schedule/style.css" -%}
  {% css page, css %}

  <div class="{% className pageCSS, 'header' %}">
    <div>
      <h1 id="sessions" class="{% className moduleCSS, 'heading' %} {% className pageCSS, 'heading' %}">{% headingSlug "Schedule" %}</h1>
      {% set icslink="fullevent.ics" %}
      <div class="{% className pageCSS, 'heading-extra' %}">{% include 'add-to-cal/index.njk' %}</div>
    </div>
    <div>
      <div class="{% className pageCSS, 'boxed-content' %}">
        <p>
          Every session is available through Livestream during the event, and available after the event on the
          <a href="https://www.youtube.com/user/ChromeDevelopers" rel="noopener noreferrer" target="_blank">Chrome Developers YouTube channel</a>.
        </p>
        <div class="{% className css, 'tz-switch' %}">
          <div class="{% className css, 'tz-switch-title' %}">Schedule timezone</div>
          {% include 'timezone-toggle/index.njk' %}
        </div>
      </div>
    </div>
  </div>

  <div class="{% className css, 'schedule-block' %}">
    <script>
      // Avoid visible date switch:
      if (localStorage.timezoneOption === 'local') {
        document.currentScript.parentNode.style.visibility = 'hidden';
      }
    </script>
    {% schedule collections.session, collections.speakers %}
  </div>
  <script>
    self.schedule = {% json collections.jsSchedule %};
  </script>
  <script type="module" async src="confboxAsset(/schedule/script/index.js)"></script>

  <section class="{% className moduleCSS, 'root' %} {% className css, 'overflow' %}">
    <h1 class="{% className moduleCSS, 'heading' %}">{% headingSlug "Overflow" %}</h1>
    <p>There’s a ton happening off the main stage, find it all here.</p>

    <div class="{% className css, 'split-boxes' %}">
      <div>
        <div class="{% className css, 'content-box' %}">
          <h2>Lightning talks</h2>
          <p>
            The schedule has breaks for lunch, snacks, and drinks. But if you're watching the livestream, it might not be
            lunch/snack/drinktime wherever you are.
          </p>
          <p>
            To cater for this, we're going to fill the breaks with livestream-exclusive lightning talks – compact presentations
            about various parts of the web platform.
          </p>
          <p>
            If you're planning to attend in person, you're not missing out. All lightning talks will be available later on the
            <a href="https://www.youtube.com/user/ChromeDevelopers" rel="noopener noreferrer" target="_blank">Chrome Developers YouTube channel</a>.
          </p>
        </div>
        <div class="{% className css, 'content-box' %}">
          <h2>#AskChrome</h2>
          <p>Have you ever wanted to ask the Chrome team a question? Maybe you want more detail about a topic, or you are wondering how to use a particular feature?</p>
          <p><b>Tweet us</b> your best <a href="https://twitter.com/search?q=%23AskChrome&amp;src=typed_query">#AskChrome</a> questions in the lead-up to the Chrome Dev Summit, then tune into <a href="https://www.youtube.com/channel/UCnUYZLuoy1rq1aVMwx4aTzw?sub_confirmation=1">the livestream</a> where the Chrome team will answer questions live - on the air!</p>
        </div>
        <div class="{% className css, 'content-box' %}">
          <h2>Sandbox</h2>
          <p>The sandbox is a dedicated space to explore, learn, and play with our latest products and platforms via interactive demos, physical installations, and more.</p>
        </div>
      </div>
      <div>
        <div class="{% className css, 'content-box' %}">
          <h2>Codelabs</h2>
          <p>Folks at the venue will be able to take part in guided tutorials that involve a practical application of web platform features.</p>
        </div>
        <div class="{% className css, 'content-box' %}">
          <h2>Office hours</h2>
          <p>Office hours are your chance to meet one-on-one with Chrome experts to ask all your technical questions.</p>
        </div>
        <div class="{% className css, 'content-box' %}">
          <h2>Review Clinic</h2>
          <p>Get a quick review of your website or web app and get instant feedback from members of the Chrome and friends teams.</p>
          <h3>Day 1</h3>
          <p><strong>11am - 2:30pm</strong> PWA/Capabilities and UX</p>
          <p><strong>2:30pm - 6pm</strong> Speed and Security/Privacy</p>
          <h3>Day 2</h3>
          <p><strong>9am - 1:30pm</strong> PWA/Capabilities and UX</p>
          <p><strong>1:30pm - 5pm</strong> Speed and Security/Privacy</p>
        </div>
        <div class="{% className css, 'content-box' %}">
          <h2>Social hour</h2>
          <p>If you're attending, you're also invited to the social hour. This is a great opportunity to meet folks and chat about the web.</p>
        </div>
      </div>
    </div>
  </section>

  {% include 'subscribe-promo/index.njk' %}
  {% from 'squiggle-banner/index.njk' import squiggleBanner %}
  {{ squiggleBanner(page, '--red') }}

  <link rel="stylesheet" media="print" href="confboxAsset(/schedule/print.css)">

{% endblock %}
