{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set css = "/_includes/faq/style.css" -%}
{% css page, css %}

<section class="{% className moduleCSS, 'root' %} {% className css, 'root' %}">
  {% from 'squiggle-banner/index.njk' import squiggleTop %}
  {{ squiggleTop(page, gray=true) }}

  <div class="{% className moduleCSS, 'heading-split' %}">
    <h1 class="{% className moduleCSS, 'heading' %}">FAQ</h1>
    <a href="{{conf.path}}faqs/" class="{% className moduleCSS, 'heading-link' %}">All frequently asked questions</a>
  </div>

  <div class="{% className css, 'faq-container' %}">
    <div class="{% className css, 'faqs' %}">
      {% for faq in collections.faqs %}
        <section class="{% className css, 'faq' %}">
          <h1 class="{% className css, 'faq-heading' %}">{{ faq.question }}</h1>
          <section class="{% className css, 'faq-content' %}">
            <p>{{ faq.answer }} <a href="{{conf.path}}faqs/#{% idify faq.title %}">Read more</a></p>
          </section>
        </section>
      {% endfor %}
    </div>
  </div>
</section>
