.root {
  position: relative;
  height: 7.2rem;
}

.top,
.bottom,
.border-squiggle-bottom,
.border-squiggle-top {
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
}

.top,
.border-squiggle-bottom {
  top: 0;
  background: url('confboxAsset(/assets/squiggles/tear-top-white.svg)') repeat-x
    top;

  @media (prefers-color-scheme: dark) {
    background-image: url('confboxAsset(/assets/squiggles/tear-top-black.svg)');
  }

  &.gray {
    background: url('confboxAsset(/assets/squiggles/tear-top-offwhite.svg)')
      repeat-x top;
    @media (prefers-color-scheme: dark) {
      background-image: url('confboxAsset(/assets/squiggles/tear-top-offblack.svg)');
    }
  }
}

.bottom,
.border-squiggle-top {
  bottom: -1px;
  background: url('confboxAsset(/assets/squiggles/tear-bottom-white.svg)')
    repeat-x bottom;
  @media (prefers-color-scheme: dark) {
    background-image: url('confboxAsset(/assets/squiggles/tear-bottom-black.svg)');
  }

  &.gray {
    background: url('confboxAsset(/assets/squiggles/tear-bottom-offwhite.svg)')
      repeat-x bottom;
    @media (prefers-color-scheme: dark) {
      background-image: url('confboxAsset(/assets/squiggles/tear-bottom-offblack.svg)');
    }
  }
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.border-squiggle-bottom {
  top: 100%;
}

.border-squiggle-top {
  bottom: 100%;
}
