{% macro masthead(is_partial=none, image=none, has_sitetitle=none, title=none, subtitle=none, mastheadimagetitle=none, is_expanded=none, youtubeId=none, youtubePlaylist=none, autoplay=none, video_name=none, is_live=False, has_divider=False) %}

{{ caller() }}

<div class="masthead{% if is_expanded %} expanded{% endif %}{% if is_live %} masthead--live{% endif %}">

  <div class="masthead__graphic" role="img" aria-label="Masthead Image: {{ mastheadimagetitle }}">
    <style>
      #masthead-image {
        background: url({{ image }}@1x.png) no-repeat;
        background-color: #fff;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
      }
      #masthead-logo {
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
      }
      .masthead.expanded {
        margin-bottom: 0 !important;
      }
    </style>
    <div id="masthead-image">
      <img id="masthead-logo" src="/devsummit/static/images/masthead/logo-2019.svg" alt="Chrome Dev Summit 2019" />
    </div>
  </div>
</div>

{% endmacro %}
