{%- set css = "/_includes/add-to-cal/style.css" -%}
{% css page, css %}
<span class="{% className css, 'root' %}">
  Add to:
  <a href="#">Google</a>
  <a href="#">Apple</a>
  <a href="#">Outlook</a>
</span>
