{%- set css = "/_includes/add-to-cal/style.css" -%}
{% css page,
css %}
<div class="{% className css, 'root' %}">
  <span class="{% className css, 'icon' %}">
    Add to:
  </span>
  <span class="{% className css, 'links' %}">
    <a href="#">Google</a>
    <a href="#">Apple</a>
    <a href="#">Outlook</a>
  </span>
</div>