.root {
  display: inline-block;
  text-align: center;
}
.links {
  white-space: nowrap;
  & a {
    margin: 0 0 0 0.2em;
  }
}
.icon {
  position: relative;
  --icon-size: 1.5rem;
  padding-left: calc(var(--icon-size) + 0.6em);

  &::before {
    content: '';
    background: url('confboxAsset(assets/calendar-icon.svg)') no-repeat;
    background-size: contain;
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
