{%- set css = "/_includes/calendar-widget/style.css" -%}
{% css page, css %}

<aside class="{% className css, 'root' %}">
  {% calendarWidget start %}
  {% include "add-to-cal/index.njk" %}
  {% include "timezone-toggle/index.njk" %}
</aside>
