{% set utilsCSS = "/_includes/utils.css" %}
{% css page, utilsCSS %}
{% set css = "/_includes/header/style.css" %}
{% css page, css %}

<div class="{% className css, 'root' %}">
  <a class="{% className css, 'title' %}" href="{{conf.path}}">
    <div class="{% className css, 'logo-container' %}">
      <div class="{% className utilsCSS, 'aspect-ratio' %}" style="--aspect-ratio: 1">
        <img class="{% className utilsCSS, 'media-fill' %}" src="confboxAsset(/assets/chromelogo.svg)" alt="Chrome">
      </div>
    </div>
    <div class="{% className css, 'title-text' %}">
      <div class="{% className css, 'title-main' %}">dev summit</div>
      <time class="{% className css, 'title-year' %}">{% confDate conf.start, 'YYYY' %}</time>
    </div>
  </a>
  <div class="{% className css, 'extra-links' %}">
    <a href="{{conf.path}}schedule/">Schedule</a>
    <a href="{{conf.path}}venue/">Venue</a>
    <a href="{{conf.path}}#livestream">Livestream</a>
    <a href="{{conf.path}}faqs/">FAQs</a>
  </div>
  <a href="https://events.withgoogle.com/chrome-dev-summit-2019/registrations/new/" rel="noopener noreferrer" target="_blank" class="{% className utilsCSS, 'register' %} {% className css, 'register' %}">Request an invite</a>
</div>
