.root {
  background: #fff;
  position: relative;
  z-index: 1;
  padding-bottom: 1px;

  @media (min-width: 720px) {
    padding: 0.5em 1em;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: [title] max-content 2.6em [reg] 1fr [extra-links] max-content;
    place-items: center start;
    font-size: 0.8rem;
    z-index: 2;
  }

  @media (min-width: 960px) {
    font-size: 1rem;
  }
}

/*
  This hacks around the sticky header when scrolling into view.
  This could be replaced by scroll-padding once all browsers have support.
*/
@media (min-width: 720px) {
  :target {
    --scroll-padding: 100px;
    margin-top: calc(var(--scroll-padding) * -1);
    padding-top: var(--scroll-padding);
  }
}

.title {
  margin: 4.6em 0;
  text-decoration: none;
  display: block;

  @media (min-width: 720px) {
    margin: 0;
    display: grid;
    grid-template-columns: 2.9em 1fr;
    grid-gap: 0.7em;
    align-items: center;
  }
}

.logo-container {
  width: 20%;
  margin: 0 auto;

  @media (min-width: 720px) {
    width: 100%;
  }
}

.title-text {
  font-family: 'Google Sans', roboto, sans-serif;
  line-height: 0.9;
  text-align: center;

  @media (min-width: 720px) {
    line-height: 1.1;
    text-align: left;
  }
}

.title-main {
  font-size: 9vw;
  color: var(--midgrey);

  @media (min-width: 720px) {
    font-size: 0.98em;
  }
}

.title-year {
  display: block;
  color: var(--darkgrey);
  font-size: 23.1vw;

  @media (min-width: 720px) {
    font-size: 1.4em;
  }
}

.get-updates {
  grid-area: 1 / reg;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);

  font-size: 0.7rem;
  background: var(--white);
  border-radius: 1000px;
  padding: 0.9em 0;
  white-space: nowrap;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
  text-decoration: none;
  line-height: 1;
  padding: 0.6em 1.3em;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 0.7em;
  align-items: center;
  width: max-content;

  @media (min-width: 720px) {
    position: relative;
    transform: none;
    left: 0;
    top: 0;
  }

  &::before {
    content: '';
    --size: 1.8em;
    width: var(--size);
    height: var(--size);
    background: url('confboxAsset(/assets/notify-icon.svg)') no-repeat;
    background-size: contain;
  }
}

.extra-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 4em 0;

  @media (min-width: 720px) {
    margin: 0;
    grid-column: extra-links;
  }

  & a {
    font-family: 'Google Sans', roboto, sans-serif;
    line-height: normal;
    font-size: 0.8em;
    margin: 0.5em 0.55em;
    padding: 1em 0;

    @media (min-width: 320px) {
      margin: 0.5em 0.7em;
    }

    @media (min-width: 450px) {
      font-size: 1em;
    }

    @media (min-width: 720px) {
      margin: 0 0.7em;
      font-size: 0.8em;
      color: var(--offblack);
      text-decoration: none;

      &:hover {
        color: var(--link-color);
      }
    }
  }
}

.community {
  @media (min-width: 720px) {
    display: none;
  }

  @media (min-width: 780px) {
    display: inline;
  }
}
