.tz-switch {
  margin: 0 auto;
  max-width: max-content;
  text-align: center;

  @media (min-width: 480px) {
    margin-right: 0;
    text-align: right;
  }
}

.tz-switch-title {
  font-weight: bold;
  margin: 0.3em;
}

.schedule-block {
  background: var(--offwhite);
}

.schedule {
  --initial-cell-size: 3.6rem;
  padding: 2.7rem var(--side-margin);

  @media (min-width: 450px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: flex-start;
    grid-gap: 6rem;
  }
}

.day {
  display: grid;
  grid-template-columns: [first] max-content 0.4rem [last] 1fr;
  --row-min-height: 3.5rem;

  @media (min-width: 720px) {
    --row-min-height: 2.7rem;
  }
}

.date {
  font-family: google sans, roboto, sans-serif;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  grid-column: first;
  align-self: end;
  background: var(--blue);
  color: var(--white);
  margin: 0;
  padding: 0.6rem 1rem 0.35rem;
  border-radius: 0.3rem;
}

.date-name {
  text-transform: uppercase;
  display: block;
  font-size: 0.7rem;
}

.date-number {
  display: block;
  font-size: 1.7rem;
}

.day-title {
  grid-column: last;
  align-self: end;
  color: var(--blue);
  font: 700 1.3rem/1 google sans, roboto, sans-serif;
  padding-bottom: 0.35rem;
}

.day-number {
  display: inline-flex;
  grid-column: last;
  background: var(--blue);
  color: var(--white);
  border-radius: var(--size);
  font-size: 0.6rem;
  --size: 1rem;
  width: var(--size);
  height: var(--size);
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  line-height: var(--size);
}

.divider {
  grid-column: first / span 2;
}

.time-line,
.row-gap {
  grid-column: first;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--lightlightgrey);
  }
}

.row-gap {
  height: 1.8rem;
}

.time-line-content {
  position: relative;
  min-height: var(--row-min-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.time {
  font-size: 1rem;
  line-height: 1;
  background: var(--offwhite);
  margin: 0.2rem 0 0;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;

  @media (min-width: 720px) {
    font-size: 0.7rem;
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 100%;
  }
}

.am-pm {
  font-weight: lighter;
}

.day-gap {
  height: 1rem;
}

.icon-bubble {
  --size: 2rem;
  background: var(--white);
  border: 1px solid var(--offwhite);
  border-radius: var(--size);
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon-border {
  border: 1px solid var(--lessdarkoffwhite);
}

.icon {
  width: 50%;
}

.photo {
  width: 100%;
}

.item {
  grid-column: last;
}

.basic-item-title {
  font-size: 1rem;
  margin: 0.5rem 0 0;
  display: flex;
  align-items: center;
  font-weight: normal;
  line-height: 1.3;

  @media (min-width: 720px) {
    font-size: 0.7rem;
    margin-top: 0.8rem;
  }
}

.basic-item-title-dot-align {
  margin-top: 1.42rem;

  @media (min-width: 720px) {
    margin-top: 0.8rem;
  }
}

.dot {
  --size: 0.5rem;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  background: var(--lightlightgrey);
}

.end {
  grid-column: first;
  position: relative;
  height: var(--row-min-height);

  &::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    --size: 0.7rem;
    --sides: 0.6;
    border-left: calc(var(--size) * var(--sides)) solid transparent;
    border-right: calc(var(--size) * var(--sides)) solid transparent;
    border-bottom: var(--size) solid var(--blue);
  }
}

.avatars {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.session-item {
  background: var(--white);
  padding: 0.85rem 1.4em;
  position: relative;
  border-radius: 0.4rem;
  filter: drop-shadow(5px 5px 16px rgba(0, 0, 0, 0.08));
  color: var(--offblack);
  line-height: 1.33;

  @media (min-width: 720px) {
    font-size: 0.7rem;
  }

  /* min column size * 2 + gap + left/right padding 4.6rem * 2 */
  /*--autofit-goes-single-column: calc(800px + 6rem + 9.2rem);*/
  @media (min-width: 1119.2px) {
    display: inline-block;

    & p {
      max-width: 48ch;
    }
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0.9em;
    right: 100%;
    --size: 0.45rem;
    --sides: 0.6;
    border-top: calc(var(--size) * var(--sides)) solid transparent;
    border-bottom: calc(var(--size) * var(--sides)) solid transparent;
    border-right: var(--size) solid var(--white);

    @media (min-width: 720px) {
      top: 1.4em;
    }
  }

  & p {
    line-height: 1.75;
  }
}

.session-item-title {
  margin: 0;
  max-width: 37ch;
}

.topic-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;

  @media (min-width: 450px) {
    margin-bottom: 0;
  }

  & > li {
    display: block;
  }
}

.meta {
  @media (min-width: 450px) {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }
}

.topic {
  font-size: 0.9rem;
  border: 1px solid var(--lessdarkoffwhite);
  padding: 0.3em 0.8em;
  background: var(--offwhite);
  border-radius: 100px;
  margin-right: 0.4em;
  margin: 0.4em 0.4em 0 0;

  @media (min-width: 720px) {
    font-size: 0.6rem;
  }
}

.session-link {
  text-decoration: none;

  &:hover .session-item-title {
    text-decoration: underline;
  }
}

.overflow {
  background: var(--offwhite);
}

.split-boxes {
  margin-top: 3rem;

  @media (min-width: 1010px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.4rem;
  }
}

.content-box {
  background: var(--white);
  padding: 1.5rem 1.8rem;
  line-height: 1.7;
  margin: 0 calc(var(--side-margin) * -1) 2.3rem;
  padding: 1.5rem var(--side-margin);

  @media (min-width: 720px) {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0.6rem;
    padding: 1.5rem 1.8rem;
    box-shadow: 0 35px 49px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
  }

  & h2 {
    font: 700 1.4rem Google Sans, roboto, sans-serif;
    color: var(--darkgrey);
    margin-top: 0;
  }

  & p {
    max-width: 60ch;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
