{%- set scheduleCSS = "/_includes/schedule/style.css" -%}
{% css page, scheduleCSS %}
{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set mediaCSS = "/_includes/layouts/media-module/style.css" -%}
{% css page, mediaCSS %}
{%- set contentCSS = "/_includes/content.css" -%}
{% css page, contentCSS %}

<section class="{% className moduleCSS, 'root-alt' %} {% className mediaCSS, 'root' %}">
  <div class="{% className mediaCSS, 'main' %} {% className contentCSS, 'content-area' %}">
    <h1 class="{% className moduleCSS, 'heading' %}">{% headingSlug "Schedule" %}</h1>
    <p>
      As always, we’re keeping things simple with a single track of content. Over the two days, we’ll
      show what’s possible on the web by focusing on solid foundations and how to build beautiful,
      engaging experiences on top.
    </p>
    <p>
      <a href="{{conf.path}}schedule/">View Schedule</a>
    </p>
  </div>
  <div class="{% className mediaCSS, 'media-decorative' %} {% className scheduleCSS, 'decoration' %}"></div>
</section>
