{%- set css = "/_includes/main-intro/style.css" -%}
{% css page, css %}
{%- set utilsCSS = "/_includes/utils.css" -%}
{% css page, utilsCSS %}

<div class="{% className css, 'root' %}">
  <div class="{% className css, 'conf-detail' %}">
    <p>
      <span class="{% className css, 'date' %}">
        <span class="{% className css, 'month' %}">{% confDate conf.start, 'MMMM' %}</span>
        <span class="{% className css, 'no-wrap' %}">
          <time datetime="{% isoDate conf.start %}">{% confDate conf.start, 'DD' %}</time>-<time datetime="{% isoDate conf.end %}">{% confDate conf.end, 'DD' %}</time>
        </span>
      </span>
      <a href="{{conf.venue.mapsLink}}" rel="noopener noreferrer" target="_blank" class="{% className css, 'location-main' %}">{{conf.venue.name}}</a>
      <span class="{% className css, 'location-sub' %}">{{conf.venue.city}}, {{conf.venue.region}}</span>
    </p>
    <div class="{% className css, 'about' %}">
      <p>{{conf.teaser}}</p>
    </div>
    <div class="{% className css, 'actions' %}">
      {% set icslink="fullevent.ics" %}
      {% include "add-to-cal/index.njk" %}
    </div>
  </div>
  <div class="{% className css, 'squiggles-outer' %}"><div class="{% className css, 'squiggles' %}"></div></div>
</div>
