.root {
  overflow: hidden;
  position: relative;
  line-height: normal;
  background: var(--offwhite);
  padding: 4.4rem var(--side-margin);

  @media (min-width: 720px) {
    height: 90vh;
    display: grid;
    grid-template-columns: minmax(450px, calc(46% - 4rem)) 1fr;
    grid-column-gap: 4rem;
    align-items: center;
    background: linear-gradient(to bottom, #fff, var(--offwhite));
    padding-top: 0;
    padding-bottom: 0;
  }
}

.conf-detail {
  text-align: center;
  color: var(--darkgrey);
  position: relative;

  @media (min-width: 720px) {
    text-align: left;
  }
}

.month {
  text-transform: lowercase;
}

.date {
  font-family: 'Google Sans', roboto, sans-serif;
  font-weight: bold;
  font-size: 2.14rem;
  display: block;
  margin: 0.25em 0;
  line-height: 1;

  @media (min-width: 720px) {
    font-size: 2.7rem;
  }
}

.location-main {
  display: block;
  font-size: 1.25rem;
}

.location-sub {
  display: block;
  font-weight: 300;
  margin: 0.35em 0;
  font-size: 1.25rem;

  @media (min-width: 720px) {
    margin: 0.2em 0;
  }
}

.about {
  max-width: 530px;
  line-height: 2;
  margin: 2.1em auto;
  color: var(--black);

  @media (min-width: 720px) {
    margin-left: 0;
  }
}

.actions {
  @media (min-width: 720px) {
    font-size: 0.8rem;
    margin: 0 0 4rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
}

.register {
  display: none;
  font-size: inherit;
  margin: 1.7em;
  margin-left: 0;

  @media (min-width: 720px) {
    display: block;
  }
}

.get-updates {
  background: var(--white);
  border-radius: 1000px;
  padding: 0.9em 0;
  display: block;
  white-space: nowrap;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
  border: 1px solid var(--lessdarkoffwhite);
  text-decoration: none;
  line-height: 1;
  padding: 0.6em 1.3em;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 0.7em;
  align-items: center;
  margin: 1.7em auto;
  width: max-content;

  @media (min-width: 720px) {
    margin: 1.7em;
    margin-left: 0;
  }

  &::before {
    content: '';
    --size: 1.8em;
    width: var(--size);
    height: var(--size);
    background: url('confboxAsset(/assets/notify-icon.svg)') no-repeat;
    background-size: contain;
  }
}

.squiggles-outer {
  height: 100%;
}

.squiggles {
  @media (min-width: 1020px) {
    background: url('confboxAsset(/assets/squiggles/1.svg)') no-repeat center
      center;
    height: 100%;
    width: 90%;
    max-width: 560px;
    background-size: contain;
    margin: 0 auto;
  }
}

.no-wrap {
  white-space: nowrap;
}
