.root {
  position: relative;
  line-height: normal;
  background: var(--offwhite);
  padding: 4.4rem var(--side-margin);

  @media (min-width: 720px) {
    min-height: 80vh;
    display: grid;
    grid-template-columns: minmax(450px, calc(46% - 4rem)) 1fr;
    grid-column-gap: 4rem;
    align-items: center;
    background: linear-gradient(to bottom, var(--white), var(--offwhite));
    padding-top: 0;
    padding-bottom: 0;
  }
}

.conf-detail {
  text-align: center;
  color: var(--darkgrey);
  position: relative;

  @media (min-width: 720px) {
    text-align: left;
  }
}

.month {
  text-transform: lowercase;
}

.date {
  font-family: 'Google Sans', roboto, sans-serif;
  font-weight: bold;
  font-size: 2.14rem;
  display: block;
  margin: 0.25em 0;
  line-height: 1;

  @media (min-width: 720px) {
    font-size: 2.5rem;
  }
}

.location-main {
  display: block;
  font-size: 1.15rem;
  margin-top: 1.4rem;
}

.location-sub {
  display: block;
  font-weight: 300;
  margin: 0.35em 0;
  font-size: 1.15rem;

  @media (min-width: 720px) {
    margin: 0.2em 0 4.7rem;
  }
}

.about {
  max-width: 530px;
  line-height: 2;
  margin: 2.1em auto;
  color: var(--black);

  @media (min-width: 720px) {
    margin-left: 0;
  }
}

.actions {
  @media (min-width: 720px) {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    justify-items: start;
    gap: 1rem;
    font-size: 0.8rem;
  }
}

.art-outer {
  height: 100%;
}

.art {
  @media (min-width: 1020px) {
    background: url('confboxAsset(/assets/arts/1.png)') no-repeat center center;
    height: 100%;
    background-size: contain;
    margin: 0 auto;
  }

  @media (prefers-color-scheme: dark) {
    filter: contrast(0.7);
  }
}

.no-wrap {
  white-space: nowrap;
}

.register-outer {
  display: none;

  @media (min-width: 720px) {
    display: block;
  }
}

.register {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1em;
}
