.root {
  overflow: hidden;
  position: relative;
  line-height: normal;
  background: var(--offwhite);
  padding: 4.4rem 0;

  @media (min-width: 720px) {
    height: 90vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #fff, var(--offwhite));
    padding: 0;
  }

  @media (min-width: 1920px) {
    padding: 0 calc((100vw - 1920px) / 2);
  }
}

.conf-detail {
  text-align: center;
  margin: 0 var(--side-margin);
  color: var(--darkgrey);
  position: relative;

  @media (min-width: 720px) {
    text-align: left;
  }
}

.month {
  text-transform: lowercase;
}

.date {
  font-family: 'Google Sans', roboto, sans-serif;
  font-weight: bold;
  font-size: 2.14rem;
  display: block;
  margin: 0.25em 0;
  line-height: 1;

  @media (min-width: 720px) {
    font-size: 3.24rem;
  }
}

.location-main {
  display: block;
  font-size: 1.25rem;
}

.location-sub {
  display: block;
  font-weight: 300;
  margin: 0.35em 0;
  font-size: 1.25rem;

  @media (min-width: 720px) {
    margin: 0.2em 0;
  }
}

.about {
  max-width: 530px;
  line-height: 2;
  margin: 2.1em auto;
  color: var(--black);
}

.actions {
  font-size: 0.75rem;
  @media (min-width: 720px) {
    margin: 3.2rem 0 4rem;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 1.6em;
  }
}

.register {
  display: none;

  @media (min-width: 720px) {
    display: block;
  }
}

.get-updates {
  font-size: 0.75rem;
  padding: 0.9em 0;
  display: block;
  white-space: nowrap;
}

.dino-crossing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 50% 100%;
  transform: scale(0.5);
  display: none;

  @media (min-width: 720px) {
    display: block;
  }

  @media (min-width: 880px) {
    transform: none;
  }
}

.sign {
  position: absolute;
  bottom: 0;
  left: calc(50% + 36vh);
  height: 65vh;
  overflow: visible;
}

.sign-path {
  stroke: var(--midgrey);
  fill: #fff;
  stroke-width: 4px;
  vector-effect: non-scaling-stroke;
}

.crossing-path {
  stroke: var(--midgrey);
  stroke-width: 0.04px;
}

.sign-dino {
  fill: var(--midgrey);
}

.sign-dino-outline {
  fill: none;
  stroke: #fff;
  stroke-width: 40;
}

.dinos {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 50%;
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  align-items: end;
  grid-gap: 2vh;
}

.parent-dino {
  height: 48vh;
}

.baby-dino {
  height: 10vh;
}
