.header {
  position: relative;
  background: var(--white);
  padding: 0;

  @media (min-width: 480px) {
    padding: 3rem var(--side-margin) 3rem;
  }

  @media (min-width: 1024px) {
    padding: 8rem var(--side-margin) 2rem;
  }
}

.header-map {
  background: var(--lesslessdarkoffwhite) url('confboxAsset(assets/map.jpg)')
    top right no-repeat;
  background-size: cover;
  padding-top: 85%;

  @media (min-width: 480px) {
    padding: 0;
    background-size: contain;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.header-content {
  position: relative;
  padding: 3rem var(--side-margin) 0;

  @media (min-width: 480px) {
    padding: 0;
  }
}

.icon-link {
  display: inline-flex;
  align-items: center;

  &::before {
    content: '';
    --size: 1rem;
    width: var(--size);
    height: var(--size);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-right: 0.5rem;
  }
}

.map-link {
  &::before {
    background-image: url('confboxAsset(assets/map-icon.svg)');
  }
}

.car-link {
  &::before {
    background-image: url('confboxAsset(assets/car-icon.svg)');
  }
}

.plane-link {
  &::before {
    background-image: url('confboxAsset(assets/plane-icon.svg)');
  }
}

.train-link {
  &::before {
    background-image: url('confboxAsset(assets/train-icon.svg)');
  }
}

.cols {
  @media (min-width: 1020px) {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-column-gap: 4rem;
    align-items: start;
  }
}

.col-content > :first-child {
  @media (min-width: 1020px) {
    margin-top: 0;
  }
}

.venue-h {
  font: bold 1.6rem 'Google Sans', roboto, sans-serif;
  margin: 1.2em 0;

  & a {
    text-decoration: none;
  }
}

.address-root {
  --corner-size: 14px;
  background: var(--white);
  position: relative;

  @media (min-width: 480px) {
    margin-top: calc(var(--corner-size) * -1);
    border-radius: var(--corner-size) var(--corner-size) 0 0;
  }
}

.street-map {
  border: 1px solid var(--darkoffwhite);
}

.address-h {
  font-size: 1rem;
  margin: 2.5rem 0 0;
  color: var(--dark-grey);
}

.address {
  font-style: normal;
}

.directions-h {
  font-family: 'Google Sans', roboto, sans-serif;
  font-size: 1.5rem;
  color: var(--dark-grey);
  margin: 3rem 0 0;
}

.unlist {
  padding: 0;
  margin: 0;
  & > li {
    display: block;
  }
}

.direction-list {
  margin-bottom: 2.5em;
}

.wayfinding {
  --corner-size: 14px;
  background: var(--white);
  position: relative;

  @media (min-width: 480px) {
    margin-bottom: calc(var(--corner-size) * -1);
    border-radius: 0 0 var(--corner-size) var(--corner-size);
  }
}

.floor-list {
  counter-reset: floor-item;
  margin-bottom: 2rem;

  @media (min-width: 370px) {
    column-count: 2;
  }

  @media (min-width: 1020px) {
    column-count: 1;
  }

  @media (min-width: 1050px) {
    column-count: 2;
  }

  & > li {
    counter-increment: floor-item;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: max-content 1fr;
    line-height: 1.3;
    margin-bottom: 0.8rem;
    break-inside: avoid;

    &::before {
      content: counter(floor-item);
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      --size: 1.7rem;
      border-radius: var(--size);
      width: var(--size);
      height: var(--size);
      background: var(--bg);
      color: var(--white);
      font-size: 0.85rem;
      box-sizing: border-box;
    }

    & > :first-child {
      margin-top: 0.25rem;
    }
  }

  & .clear-counter {
    &::before {
      background: var(--white);
      border: 1px solid var(--darkgrey);
      color: var(--black);
    }
  }
}

.activity-list {
  & > li {
    margin-bottom: 0.5em;
  }
}

.floor-plans {
  & > * {
    margin-bottom: 2rem;
  }

  @media (min-width: 450px) {
    display: grid;
    grid-template-columns: 1fr 0.809fr;
    grid-gap: 1rem;
  }
}

.additional-info {
  @media (min-width: 720px) {
    padding-bottom: 8rem;
  }

  @media (min-width: 1020px) {
    padding-bottom: 1px;
  }
}
