{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set mediaCSS = "/_includes/layouts/media-module/style.css" -%}
{% css page, mediaCSS %}
{%- set speakerCSS = "/_includes/speakers.css" -%}
{% css page, speakerCSS %}
{%- set nowNextCSS = "/_includes/now-n-next/style.css" -%}
{% css page, nowNextCSS %}
{% set headerCSS = "/_includes/header/style.css" %}

<section style="display:none" class="{% className moduleCSS, 'root' %} {% className mediaCSS, 'root' %} {% className nowNextCSS, 'root' %}">
  <script>
    self.basicSchedule = {% json collections.jsScheduleBasic %};
    (() => {
      const now = Number(new URL(location).searchParams.get('now')) || Date.now();
      const lowerLimit = basicSchedule[0].start - (1000 * 60 * 60 * 12);
      const upperLimit = basicSchedule.slice(-1)[0].end + (1000 * 60 * 60 * 4);

      self.showNowNext = (now > lowerLimit && now < upperLimit);
      if (!showNowNext) return;

      // Block the body from rendering until JS is ready.
      // Such is JAMStack.
      self.bodyBlocker = document.createElement('style');
      bodyBlocker.textContent = 'body > :not(.{% className headerCSS, "root" %}) { display: none }';
      document.head.appendChild(bodyBlocker);
    })();
  </script>
  <div class="{% className mediaCSS, 'media' %} {% className nowNextCSS, 'media' %}">
    {%- set utilsCSS = "/_includes/utils.css" -%}
    {% css page, utilsCSS %}
    <div class="{% className utilsCSS, 'aspect-ratio' %} {% className nowNextCSS, 'livestream' %}" style="--aspect-ratio: calc(16/9)"></div>
  </div>
  <div class="{% className mediaCSS, 'main' %}">
    <section class="{% className nowNextCSS, 'on-now' %}"></section>
  </div>
  <section class="{% className nowNextCSS, 'up-next' %}"></section>
  <link rel="modulepreload" href="confboxAsset(/_includes/now-n-next/script/index.js)" />
  <script type="module" async src="confboxAsset(/_includes/now-n-next/script/index.js)"></script>
</section>
