.root {
  background: var(--offwhite);
  padding-top: 0;

  @media (min-width: 720px) {
    background: linear-gradient(180deg, var(--white), var(--offwhite));
  }

  @media (min-width: 1024px) {
    padding-top: var(--vertical-padding);
  }
}

.up-next {
  text-align: right;
}

.up-next-inner {
  background: var(--white);
  border: 1px solid var(--lessdarkoffwhite);
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
  margin-left: calc(var(--side-margin) * -1);
  padding: 0.9em 2em;
  padding-left: var(--side-margin);
}

.next-label {
  font-weight: bold;
  color: var(--darkgrey);
  font-size: 0.8rem;
  line-height: 1.5;
}

.next-title {
  line-height: 1.1;
  margin: 0.1em 0 0.5em;
  font-weight: 300;
}

.on-now {
  position: relative;
  margin: 4rem 0 2rem;
  text-align: center;

  @media (min-width: 720px) {
    text-align: left;
  }

  @media (min-width: 1024px) {
    margin: 0;
  }
}

.livestream {
  box-shadow: var(--lg-hueless-shadow);
}

@keyframes pulse {
  from {
    opacity: 1;
    animation-timing-function: ease-in;
  }
  20% {
    opacity: 0.2;
    animation-timing-function: ease-out;
  }
  40% {
    opacity: 1;
  }
}

.happening-now,
.live-now {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  grid-gap: 0.5em;
  font-family: Google Sans, roboto, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  color: var(--darkgrey);
  font-size: 0.8rem;

  @media (min-width: 720px) {
    justify-content: flex-start;
  }
}

.live-now::before {
  content: '';
  position: relative;
  top: -0.08em;
  --size: 0.9em;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  background: var(--red);
  animation: pulse 5s infinite;
}

.now-title {
  font-weight: 400;
  margin: 0.1rem 0 0.4rem 0;
  font-size: 1.6rem;
  line-height: 1.3;
  color: var(--offblack);
}

.rel-time {
  display: block;
  color: var(--midgrey);
  line-height: 1.5;
  font-size: 0.7rem;
}

.speaker-list {
  margin: 1rem 0;
  text-align: left;
  justify-content: center;

  @media (min-width: 720px) {
    justify-content: start;
  }

  @media (min-width: 1024px) {
    margin: 3.5rem 0 2rem 0;
  }
}

.speaker {
  font-size: 0.9em;
}

.media {
  align-self: start;
  margin-bottom: 1.8rem;

  @media (min-width: 1024px) {
    margin-bottom: 0;
  }
}
