---
title: Chrome Dev Summit
---

{% extends 'layouts/main/index.njk' %}

{% block content %}
  {% include 'main-intro/index.njk' %}
  {% include 'about/index.njk' %}
  {% include 'previously/index.njk' %}
  {% include 'footer/index.njk' %}
{% endblock %}
