---
description: Join the Chrome team for our two-day summit on the latest techniques for building the modern Web
---

{% extends 'layouts/main/index.njk' %}


{% block content %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "{{conf.conferenceName}}",
      "startDate": "{% confDate conf.start, 'YYYY-MM-DDTHH:mm' %}",
      "endDate": "{% confDate conf.end, 'YYYY-MM-DDTHH:mm' %}",
      "image": ["{{conf.origin}}confboxAsset(/assets/social-share.png)"],
      "description": "{{conf.teaser}}"
    }
  </script>

  {% include 'main-intro/index.njk' %}
  {% include 'about/index.njk' %}
  {% from 'squiggle-banner/index.njk' import squiggleBanner %}
  {{ squiggleBanner(page, '--green', grayBottom=true) }}
  {% include 'schedule/index.njk' %}
  {{ squiggleBanner(page, '--red', grayTop=true) }}
  {% include 'office-hours/index.njk' %}
  {{ squiggleBanner(page, '--orange', grayBottom=true) }}
  {% include 'workshops/index.njk' %}
  {% include 'previously/index.njk' %}
  {% include 'faq/index.njk' %}
  {% include 'subscribe-promo/index.njk' %}
{% endblock %}
