---
description: Connect with Chrome engineers and other leading developers for an exploration of building beautiful and fast experiences.
---

{% extends 'layouts/main/index.njk' %}

{% block content %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "{{conf.conferenceName}}",
      "startDate": "{% confDate conf.start, 'YYYY-MM-DD' %}",
      "endDate": "{% confDate conf.end, 'YYYY-MM-DD' %}",
      "location": {
        "@type": "Place",
        "name": "{{conf.venue.name}}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "{{conf.venue.streetAddress}}",
          "addressLocality": "{{conf.venue.city}}",
          "postalCode": "{{conf.venue.postalCode}}",
          "addressRegion": "{{conf.venue.region}}",
          "addressCountry": "{{conf.venue.country}}"
        }
      },
      "image": [
        "{{conf.origin}}confboxAsset(/assets/social-share.png)"
      ],
      "description": "{{conf.teaser}}"
    }
  </script>
  
  {% include 'main-intro/index.njk' %}
  {% include 'livestream/index.njk' %}
  {% include 'sessions-promo/index.njk' %}
  {% include 'previously/index.njk' %}
  {% include 'faq/index.njk' %}
{% endblock %}
