---
title: Remote
description: Not attending? Here's how to watch the conference.
---

{% extends 'layouts/main/index.njk' %}

{% block content %}
  {%- set moduleCSS = "/_includes/module.css" -%}
  {% css page, moduleCSS %}
  {%- set contentCSS = "/_includes/content.css" -%}
  {% css page, contentCSS %}
  {%- set css = "/remote/style.css" -%}
  {% css page, css %}

  <div class="{% className moduleCSS, 'root-alt' %} {% className css, 'heading' %}">
    <header class="{% className contentCSS, 'heading' %}">
      <div>
        <h1 class="{% className moduleCSS, 'heading' %}">
          {% headingSlug 'Virtual Conf' %}
        </h1>

        <p class="{% className css, 'no-margin-between' %}"><strong>Experience Chrome Dev Summit from anywhere.</strong></p>
        <p>
          We bring the summit to you via <a href="#livestream">livestream</a> or
          <a href="https://www.youtube.com/channel/UCnUYZLuoy1rq1aVMwx4aTzw?sub_confirmation=1" target="_blank" rel="noopener noreferrer">on-demand via YouTube</a>.
          What's more, <a href="#extended">CDS extended</a> provides a <strong>group livestream experience</strong> where you can attend the summit remotely
          with other developers.
        </p>
      </div>
      <div class="{% className contentCSS, 'squiggles' %}"></div>
    </header>
  </div>


  <div class="{% className moduleCSS, 'root' %} {% className moduleCSS, 'root-alt' %} {% className css, 'module' %}">
    <section class="{% className contentCSS, 'category' %}">
      <h1 id="livestream" class="{% className contentCSS, 'category-heading' %}">Livestream</h1>
      <div class="{% className contentCSS, 'aside-content' %}">
        <p>Including exclusive content built for our remote viewers.</p>
        <p><a href="https://www.youtube.com/channel/UCnUYZLuoy1rq1aVMwx4aTzw?sub_confirmation=1" target="_blank" rel="noopener noreferrer" class="{% className css, 'icon-link' %}">Subscribe on Youtube</a></p>
      </div>
      <div class="{% className contentCSS, 'box' %} {% className contentCSS, 'section' %}">
        <h2 class="{% className contentCSS, 'section-heading' %}">Don’t Miss a Beat</h2>
        <p>The Chrome Dev Summit livestream offers a live broadcast experience featuring the conference keynote and full coverage of all sessions as they happen. It’s going to be a high-energy week full of the latest technologies, the tools and the people, and talk. If you cannot join us personally, then we have good news, you can still get in on the action virtually.</p>
        <p>
          The livestream begins at:<br>
          <strong>10:00 AM</strong> PDT on <strong>Monday, November 11</strong>.
        </p>
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdqEfT0jfgRNIGqibWxBe8X1Dt0a2FcHdituhRhG1tNGL1sBQ/viewform" rel="noopener noreferrer" target="_blank">Sign up here to get updates</a>.</p>
        <hr class="{% className contentCSS, 'divider' %}">
        <h2 class="{% className contentCSS, 'section-heading' %}">Check Back During &amp; After</h2>
        <p>You can view the livestream during the event and/or watch the recordings on YouTube videos at anytime after the event - at your convenience!</p>
      </div>
    </section>
  </div>

  <div class="{% className moduleCSS, 'root' %} {% className moduleCSS, 'root-alt' %} {% className css, 'module' %}">
    <section class="{% className contentCSS, 'category' %}">
      <h1 id="extended" class="{% className contentCSS, 'category-heading' %}">CDS Extended</h1>
      <div class="{% className contentCSS, 'aside-content' %}">
        <p>We’re working with communities across the globe to host CDS Extended events where developers can join their peers to experience the latest from CDS by joining in their own cities.</p>
      </div>
      <div class="{% className contentCSS, 'box' %} {% className contentCSS, 'section' %}">
        <h2 class="{% className contentCSS, 'section-heading' %}">Join a CDS Extended event!</h2>
        <p>CDS Extended events are organized by local developer communities around the world to watch the livestream or YouTube videos in a meetup-style forum. Meet other developers, participate in discussions, and interact more by attending one of these virtual events.</p>
        <hr class="{% className contentCSS, 'divider' %}">
        <h2 class="{% className contentCSS, 'section-heading' %}">Locations</h2>
        <ul>
          <li><a href="https://www.meetup.com/gdg-nl/events/265853002/" target="_blank" rel="noopener noreferrer">Amsterdam, Netherlands</a></li>
          <li><a href="https://www.sympla.com.br/cds-19-extended-sao-paulo__697051" target="_blank" rel="noopener noreferrer">Sao Paulo, Brazil</a></li>
          <li><a href="https://www.meetup.com/es-ES/GDGMadrid/events/266035823/" target="_blank" rel="noopener noreferrer">Madrid, Spain</a></li>
          <li><a href="https://www.meetup.com/gdg-nl/events/266228967/" target="_blank" rel="noopener noreferrer">The Hague, Netherlands</a></li>
          <li><a href="https://www.meetup.com/GDG-Kyiv-Center/events/266201688/" target="_blank" rel="noopener noreferrer">Kyiv, Ukraine</a></li>
          <li><a href="https://www.meetup.com/GDG-Budapest/events/266203488/" target="_blank" rel="noopener noreferrer">Budapest, Hungary</a></li>
          <li><a href="https://www.meetup.com/PHX-Android/events/266262009/" target="_blank" rel="noopener noreferrer">Phoenix, USA</a></li>
          <li><a href="https://www.meetup.com/GDG-SanSalvador/events/265662037/" target="_blank" rel="noopener noreferrer">San Salvador, El Salvador</a></li>
          <li><a href="https://www.meetup.com/GDG-Jinja/events/266204451/" target="_blank" rel="noopener noreferrer">Jinja, Uganda</a></li>
          <li><a href="https://www.meetup.com/GDG-Kayunga/events/266224458/" target="_blank" rel="noopener noreferrer">Kayunga, Uganda</a></li>
          <li><a href="https://www.meetup.com/gdgmadison/events/266191346/" target="_blank" rel="noopener noreferrer">Madison, USA</a></li>
          <li><a href="https://www.meetup.com/GDG-Ilorin/events/266205986/" target="_blank" rel="noopener noreferrer">Ilorin, Nigeria</a></li>
          <li><a href="https://www.eventbrite.co.uk/e/gdg-devfest-london-2019-saturday-november-16-2019-tickets-68722537961" target="_blank" rel="noopener noreferrer">London, UK</a></li>
          <li><a href="https://www.meetup.com/JavaScriptMeetup/events/265788574/" target="_blank" rel="noopener noreferrer">Bangalore, India</a></li>
          <li><a href="https://www.meetup.com/it-IT/GDG-Roma/events/265796987/" target="_blank" rel="noopener noreferrer">Rome, Italy</a></li>
          <li><a href="https://www.meetup.com/GDG-Port-of-Spain/events/265689493/" target="_blank" rel="noopener noreferrer">Port of Spain, Trinidad &amp; Tobago</a></li>
          <li><a href="https://www.eventbrite.com/e/chrome-dev-summit-extended-2019-chicago-tickets-80631008517" target="_blank" rel="noopener noreferrer">Chicago, USA</a></li>
          <li><a href="https://festa.io/events/628" target="_blank" rel="noopener noreferrer">Seoul, Korea</a></li>
          <li><a href="https://www.meetup.com/GDG-Beijing/events/265559018/" target="_blank" rel="noopener noreferrer">Beijing, China</a></li>
          <li><a href="https://cds.jscebu.org/" target="_blank" rel="noopener noreferrer">Cebu City, Philippines</a></li>
          <li><a href="https://www.meetup.com/GDGSpaceCoast/events/266211096/" target="_blank" rel="noopener noreferrer">Melbourne, USA</a></li>
          <li><a href="https://www.meetup.com/gdg-lafia/events/266204221/" target="_blank" rel="noopener noreferrer">Lafia, Nigeria</a></li>
          <li><a href="https://www.meetup.com/GDG-Warri/events/266211692/" target="_blank" rel="noopener noreferrer">Warri, Nigeria</a></li>
          <li><a href="https://www.meetup.com/GDG-Cloud-Toronto/events/266264106/" target="_blank" rel="noopener noreferrer">Toronto, Canada</a></li>
          <li><a href="https://www.meetup.com/GDG-Maputo/events/266208239/" target="_blank" rel="noopener noreferrer">Maputo, Mozambique</a></li>
          <li><a href="https://dev.wi.th/event/cds2019" target="_blank" rel="noopener noreferrer">Bangkok, Thailand</a></li>
          <li><a href="https://corp.mail.ru/ru/press/events/670/" target="_blank" rel="noopener noreferrer">Moscow, Russia</a></li>
          <li><a href="https://www.meetup.com/gdgbenin/events/266206328/" target="_blank" rel="noopener noreferrer">Benin City, Nigeria</a></li>
          <li><a href="https://www.meetup.com/GDGKeffi/events/266212419/" target="_blank" rel="noopener noreferrer">Keffi, Nigeria</a></li>
          <li><a href="https://www.sympla.com.br/chrome-dev-summit-extended--recife__695390" target="_blank" rel="noopener noreferrer">Recife, Brazil</a></li>
          <li><a href="https://www.sympla.com.br/chrome-dev-summit-extended--rio-de-janeiro__695394" target="_blank" rel="noopener noreferrer">Rio, Brazil</a></li>
          <li><a href="https://www.eventbrite.com/e/chrome-dev-summit-extended-hcmc-2019-registration-80640023481" target="_blank" rel="noopener noreferrer">Ho Chi Minh City, Vietnam</a></li>
          <li><a href="https://www.meetup.com/GDG-ENUGU-MEETUP/events/266205755/" target="_blank" rel="noopener noreferrer">Enugu, Nigeria</a></li>
          <li><a href="https://www.loket.com/event/cds-extended-jakarta-2019" target="_blank" rel="noopener noreferrer">Jakarta, Indonesia</a></li>
          <li><a href="https://www.meetup.com/GDGPolymerMexico/events/265937837/?isFirstPublish=true" target="_blank" rel="noopener noreferrer">Mexico City, Mexico</a></li>
          <li><a href="https://www.meetup.com/gdgsokoto/events/266204314/" target="_blank" rel="noopener noreferrer">Sokoto, Nigeria</a></li>
          <li><a href="https://www.meetup.com/GDG-Akoko/events/266212104/" target="_blank" rel="noopener noreferrer">Akoko, Nigeria</a></li>
          <li><a href="https://www.meetup.com/GDGCloudSF/events/266306100/" target="_blank" rel="noopener noreferrer">San Francisco, USA</a></li>
          <li><a href="https://www.meetup.com/GDG-Rochester/events/266036731/" target="_blank" rel="noopener noreferrer">Rochester, USA</a></li>
          <li><a href="https://www.meetup.com/Google-Developer-Group-of-the-Capital-Region/events/266260411/" target="_blank" rel="noopener noreferrer">Schenectady, USA</a></li>
          <li><a href="https://devenings.com/building-for-the-modern-web/" target="_blank" rel="noopener noreferrer">Islamabad, Pakistan</a></li>
          <li><a href="https://www.meetup.com/gdgadoekiti/events/" target="_blank" rel="noopener noreferrer">Ado Ekiti, Nigeria</a></li>
          <li><a href="https://www.meetup.com/gdgadoekiti/events/266207158/" target="_blank" rel="noopener noreferrer">Ado Ekiti, Nigeria</a></li>
          <li><a href="https://www.meetup.com/GDG-Missoula/events/266368454" target="_blank" rel="noopener noreferrer">Missoula, USA</a></li>
          <li><a href="https://www.meetup.com/Shanghai-GDG/events/266228915/" target="_blank" rel="noopener noreferrer">Shanghai, China</a></li>
        </ul>

        <p>We may add more locations in the coming weeks, so watch this space or <a href="https://docs.google.com/forms/d/e/1FAIpQLSdqEfT0jfgRNIGqibWxBe8X1Dt0a2FcHdituhRhG1tNGL1sBQ/viewform" rel="noopener noreferrer" target="_blank">sign up here</a> to stay up to date.</p>
      </div>
    </section>
  </div>

  {% include 'notify-promo/index.njk' %}
  {% from 'squiggle-banner/index.njk' import squiggleBanner %}
  {{ squiggleBanner(page, '--red') }}
{% endblock %}
